@use '../colors.scss' as *;

.alert{
    padding: 10px 20px;
    margin-bottom: 24px;
    color: white;
    border-radius: 5px;
    &-text {
        font-weight: bold;
    }
    &-success{
        background-color: $color-success;
    }
    &-error{
        background-color: $color-danger;
    }
}